In [97]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [98]:
# Load the dataset
df = pd.read_csv('telecom_churn.csv')
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [99]:
df.describe(include=np.number)

,account length,area code,number vmail messages,total day minutes,total day calls,total day charge,total eve minutes,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [100]:
df.describe(include=np.object)

C:\Users\Ali\AppData\Local\Temp\ipykernel_10392\3211851552.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df.describe(include=np.object)

       state phone number international plan voice mail plan
count   3333         3333               3333            3333
unique    51         3333                  2               2
top       WV     382-4657                 no              no
freq     106            1               3010            2411

In [101]:
df = df.drop(['state', 'phone number','area code','total eve minutes','total eve calls','total eve charge',], axis=1)
df = df.drop(['voice mail plan', 'number vmail messages','total night minutes','total night charge','total night charge'], axis=1)
df.head()

,account length,international plan,total day minutes,total day calls,total day charge,total night calls,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,128,no,265.1,110,45.07,91,10.0,3,2.70,1,False
1,107,no,161.6,123,27.47,103,13.7,3,3.70,1,False
2,137,no,243.4,114,41.38,104,12.2,5,3.29,0,False
3,84,yes,299.4,71,50.90,89,6.6,7,1.78,2,False
4,75,yes,166.7,113,28.34,121,10.1,3,2.73,3,False

In [102]:
from sklearn.preprocessing import LabelEncoder

# Encode categorical variables
label_encoder = LabelEncoder()
df['international plan'] = label_encoder.fit_transform(df['international plan'])
df['churn'] = label_encoder.fit_transform(df['churn'])
df['account length'] = label_encoder.fit_transform(df['account length'])
df['customer service calls'] = label_encoder.fit_transform(df['customer service calls'])
df

,account length,international plan,total day minutes,total day calls,total day charge,total night calls,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,126,0,265.1,110,45.07,91,10.0,3,2.70,1,0
1,105,0,161.6,123,27.47,103,13.7,3,3.70,1,0
2,135,0,243.4,114,41.38,104,12.2,5,3.29,0,0
3,82,1,299.4,71,50.90,89,6.6,7,1.78,2,0
4,73,1,166.7,113,28.34,121,10.1,3,2.73,3,0
...,...,...,...,...,...,...,...,...,...,...,...
3328,189,0,156.2,77,26.55,83,9.9,6,2.67,2,0
3329,66,0,231.1,57,39.29,123,9.6,4,2.59,3,0
3330,26,0,180.8,109,30.74,91,14.1,6,3.81,2,0
3331,182,1,213.8,105,36.35,137,5.0,10,1.35,2,0
3332,72,0,234.4,113,39.85,77,13.7,4,3.70,0,0

In [103]:
X = df.drop('churn', axis=1)
y = df['churn']

In [104]:
X

,account length,international plan,total day minutes,total day calls,total day charge,total night calls,total intl minutes,total intl calls,total intl charge,customer service calls
0,126,0,265.1,110,45.07,91,10.0,3,2.70,1
1,105,0,161.6,123,27.47,103,13.7,3,3.70,1
2,135,0,243.4,114,41.38,104,12.2,5,3.29,0
3,82,1,299.4,71,50.90,89,6.6,7,1.78,2
4,73,1,166.7,113,28.34,121,10.1,3,2.73,3
...,...,...,...,...,...,...,...,...,...,...
3328,189,0,156.2,77,26.55,83,9.9,6,2.67,2
3329,66,0,231.1,57,39.29,123,9.6,4,2.59,3
3330,26,0,180.8,109,30.74,91,14.1,6,3.81,2
3331,182,1,213.8,105,36.35,137,5.0,10,1.35,2
3332,72,0,234.4,113,39.85,77,13.7,4,3.70,0

In [121]:
from sklearn.model_selection import train_test_split

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [122]:
y

0       0
1       0
2       0
3       0
4       0
       ..
3328    0
3329    0
3330    0
3331    0
3332    0
Name: churn, Length: 3333, dtype: int64

In [123]:
from sklearn.linear_model import LogisticRegression
# Logistic Regression Classifier
logistic_regression = LogisticRegression()
logistic_regression.fit(X_train, y_train)

F:\New folder\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [124]:
y_pred_lr = logistic_regression.predict(X_test)
y_pred_lr
pd.DataFrame({"Actual": y_test, "Predictions": y_pred_lr}).head(30)

      Actual  Predictions
1997       0            0
1736       1            0
962        0            0
263        0            0
1436       0            0
1356       0            0
2252       0            0
2378       0            0
3282       0            0
2874       1            0
1426       0            0
3060       0            0
1810       0            0
2124       0            0
1030       1            0
29         0            0
2654       0            0
323        0            0
981        0            0
388        0            0
1378       0            0
1956       0            0
1011       0            0
3207       0            0
772        0            0
2524       0            0
1228       0            0
2856       0            0
1418       0            1
1790       0            0

In [125]:
from sklearn.metrics import accuracy_score, confusion_matrix

# Evalution
accuracy_lr = accuracy_score(y_test, y_pred_lr)
confusion_matrix_lr = confusion_matrix(y_test, y_pred_lr)

print("Accuracy : ", accuracy_lr)
print("Confusion Matrix...\n", confusion_matrix_lr)

Accuracy :  0.8740629685157422
Confusion Matrix...
 [[572  21]
 [ 63  11]]

In [126]:
from sklearn.linear_model import LogisticRegression

# Logistic Regression Classifier
logistic_regression = LogisticRegression()
logistic_regression.fit(X_train, y_train)

F:\New folder\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [127]:
from sklearn.tree import DecisionTreeClassifier

# Decision Tree Classifier
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)

y_pred_dt = decision_tree.predict(X_test)

accuracy_dt = accuracy_score(y_test, y_pred_dt)
confusion_matrix_dt = confusion_matrix(y_test, y_pred_dt)

print("Accuracy : ", accuracy_dt)
print("Confusion Matrix...\n", confusion_matrix_dt)

Accuracy :  0.8665667166416792
Confusion Matrix...
 [[537  56]
 [ 33  41]]

In [128]:
from sklearn.ensemble import RandomForestClassifier

# Random Forest Classifier
random_forest = RandomForestClassifier()
random_forest.fit(X_train, y_train)

y_pred_rf = random_forest.predict(X_test)

accuracy_rf = accuracy_score(y_test, y_pred_rf)
confusion_matrix_rf = confusion_matrix(y_test, y_pred_rf)

print("Accuracy : ", accuracy_rf)
print("Confusion Matrix...\n", confusion_matrix_rf)

Accuracy :  0.9220389805097451
Confusion Matrix...
 [[571  22]
 [ 30  44]]